<h4>パスワード再設定リクエストを受付ました。</h4>

<p>
  2時間以内に以下のURLからパスワードを再設定してください。</br>
  所定の時間をすぎてしまった場合は、再度、再設定リクエストをお願い致します。</p>
  
  <p><%= link_to "パスワードをリセットする。", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %></p>
                                                      
  
  <p>
  このメールは、パスワード再設定リクエストをされた方へ自動送信しています。</br>
  本メールに御心あたりがない場合は、誠に恐れ入りますが、</br>
破棄して頂けますよう、よろしくお願い致します。</p>
　<p>その際、現在登録されているパスワードは変更されません。</p>
