@import "bootstrap-sprockets";
@import "bootstrap";
@import "layouts/_users.scss";
@import "layouts/_footer.scss";

@charset "utf-8";

#logo {
  font-family: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  float: left;
  margin-right: 10px;
  font-size: 2.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 5px;
  font-weight: bold;
  &:hover {
    color: gray;
    text-decoration: none;
    font-size: 2.7em;
  }
}

/* body */
body {
  /*background: #f2f2f2;*/
  background: WHITE;
}
footer {
  margin-top: 40px;
}

/* navbar */
.navbar {
  background-color: #fff;
}
.navbar-header img {
  margin-top: 5px;
  height: 40px;
}

/* cover */
.cover {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 450px;
  background: url("/image/sample.jpg") center center no-repeat;
  background-size: cover;
}

.cover .cover-inner {
  height: 100%;
  margin: auto;
  display: table;
}
.cover .cover-inner .cover-contents {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}
.cover .cover-inner .cover-contents h1 {
  margin: 0 0 20px 0;
  color: #fff;
  font-weight: bold;
  font-size: 37px;
  letter-spacing: 0.15em;
  font-family: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;

}

.cover2 {
  margin-top: -20px;
  margin-bottom: 20px;
  width: 100%;
  height: 400px;
  background: url("/image/footer.jpg") center center no-repeat;
  background-size: cover;
}

.cover2 .cover-inner2 .cover-contents2 h2 {
  margin: 20px 0 10px 60px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 0.15em;
  float:left;
  font-family: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;
}

.cover2 .cover-inner2 {
  height: 100%;
  margin: auto;
  float:left;
}
.cover2 .cover-inner2 .cover-contents2 {
  display: table-cell;
  vertical-align: middle;
  text-align: left;
  position: relative;
  
}

/* search */
.search {
  margin-bottom: 20px;
}

/* item */
.item .panel-body {
  height: 120px;
}
.item .panel-heading {
  height: 250px;
}
.item .panel-heading img {
  height: 100%;
  max-width: 100%;
}


p.item-title {
  
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-align:center;
}

.item .buttons form {
  display: inline-block;
  margin:  5px;
}

.box2 {
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #E5E0DF;/*線*/
    border-radius: 10px;/*角*/
}
.box2 p {
    margin: 0; 
    padding: 0;
}

.btn-pink{
  background-color: #AAA5D1;
  font-family: Georgia, 'Hiragino Mincho ProN', 'Yu Mincho', serif;
  color:white;

  
}

footer{
  margin-bottom: 10px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
