<footer>
  <small>
    The Ruby on Rails project
    by <a href="https://ms-portfolio.herokuapp.com/" target="_blank">Mari Sato</a>
  </small>
  <nav>
    <ul>
      <li><a href="https://ms-portfolio.herokuapp.com/#about" target="_blank">About</a></li>
      <li><a href="https://ms-portfolio.herokuapp.com/#contact" target="_blank">Contact</a></li>
    </ul>
  </nav>
  
  <div class="text-center text-muted">© 2018 BookItem.</div>
</footer>